@{
	ViewBag.Title = "Offer";
}
@model Offer

<div class="row">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Название</th>
				<th>Значение</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Id</th>
				<td>@Model.Id</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>@Model.Type</td>
			</tr>
			<tr>
				<th>BId</th>
				<td>@Model.BId</td>
			</tr>
			<tr>
				<th>Available</th>
				<td>@Model.Available</td>
			</tr>
			<tr>
				<th>Url</th>
				<td>@Model.Url</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>@Model.Price</td>
			</tr>
			<tr>
				<th>CurrencyId</th>
				<td>@Model.CurrencyId</td>
			</tr>
			<tr>
				<th>CategoryId</th>
				<td>@Model.CategoryId</td>
			</tr>
			<tr>
				<th>Picture</th>
				<td>@Model.Picture</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>@Model.Description</td>
			</tr>

			@if (Model is TitleOffer title)
			{
				<tr>
					<th>Year</th>
					<td>@title.Year</td>
				</tr>
				<tr>
					<th>Delivery</th>
					<td>@title.Delivery</td>
				</tr>
				<tr>
					<th>Title</th>
					<td>@title.Title</td>
				</tr>
				<tr>
					<th>Media</th>
					<td>@title.Media</td>
				</tr>
			}

			@if (Model is CDTitleOffer cd)
			{
				<tr>
					<th>Artist</th>
					<td>@cd.Artist</td>
				</tr>
			}
		</tbody>
	</table>
</div>